.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin: 0 0 30px 30px;
}

.aligncenter {
    @include center-block;
}
