.site-header {
    .header-top {
        @include cf();
        z-index: 2;
    }

    .date,
    .description {
        z-index: 2;
    }

    .logo {
        width: 200px;
        position: absolute;
        top: 15px;
        left: 15px;

        @include bp(large-tablet) {
            width: 243px;
            display: inline-block;
            left: 0;
            padding-top: 30px;
            position: relative;
            transform: none;
        }
        svg {
            path {
                fill: $white;
            }
        }
    }

    .main-navigation {
        width: 70%;
        float: right;
        padding: 40px 0 0;
    }

    .menu-toggle {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        text-indent: 210%;
        overflow: hidden;
        color: $white;

        &:focus,
        &:active {
            outline: 0;
            color: transparentize($white, .2);
        }

        &:before {
            content: '\f0c9';
            font-family: 'vs-icons';
            width: 40px;
            height: 40px;
            font-size: 2em;
            text-align: center;
            text-indent: 0;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    .date {
        font-size: 20px;
        color: $white;
        text-align: center;
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%);
            -ms-transform: translate(-50%);
                transform: translate(-50%);
        width: 100%;
        top: 20%;

        @include bp(large-tablet) {
            font-size: 32px;
            top: 18%;
        }
    }

    h2.description {
        font-family: $headings-lt;
        color: $white;
        letter-spacing: 1px;
        text-align: center;
        font-size: 35px;
        line-height: 1.2;
        padding: 0 15px;
        position: absolute;
        top: 28%;
        z-index: 1;

        @include bp(large-tablet) {
            font-size: 60px;
            left: 50%;
            transform: translateX(-50%);
        }

        .word1,
        .word2,
        .word3 {
            letter-spacing: 3px;
        }

        .word3 {
            &:after {

                @include bp(large-tablet) {
                    content: '';
                    display: table;
                }
            }
        }

        .word5 {
            &:after {
                @include bp(large-tablet) {
                    content: '';
                    display: table;
                }
            }
        }

    }
}

nav {
    .menu {
        display: inline-block;
        float: right;
    }
}

#page-header {
    .branding {
        position: relative;
        z-index: 10;
    }

    .main-navigation {
        a {
            @include bp(large-tablet) {
                color: $black;
            }
        }

        .registration-link {
            color: $white;
        }
    }

    .dark {
        a {
            color: $white;
            @include bp(large-tablet) {
                color: $black;
            }
        }
    }

    .menu-toggle {
        color: $black;

        &:focus,
        &:active {
            outline: 0;
            color: $fountain-blue;
        }
    }
}

#masthead {
    .social-media {
        display: none;

        @include bp(large-tablet) {
            display: block;
            margin: 0;
            padding: 0;
            float: right;
        }

        li {
            list-style: none;
            display: inline-block;
            margin: 0;
            padding: 0;
        }

        a {
            display: inline-block;
            height: 2em;
            margin: 0 5px;
            overflow: hidden;
            position: relative;
            text-indent: 210%;
            width: 30px;

            &:before {
                color: $white;
                font-family: 'vs-icons';
                left: 0;
                line-height: 2;
                position: absolute;
                text-align: center;
                text-indent: 0;
                top: 0;
                width: 30px;
                transition: background-color .15s ease;
            }

            &.twitter:before {
                content: '\f099';
            }

            &.facebook:before {
                content: '\f09a';
            }

            &:hover:before,
            &:focus:before,
            &:active:before {
                background: lighten($chathams-blue, 5%);
                background: transparentize(lighten($chathams-blue, 20%), 0.75);
            }
        }
    }
}

.main {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}
