.day-header {
	@include cf();

	.day-header-date {
		width: 20%;
		display: inline-block;
		padding: 0 10px;
		float: left;
	}
	.day-header-text {
		width: 80%;
		display: inline-block;
		padding: 0 10px;
		float: right;
		text-align: center;
	}

	.day-header-date,
	.day-header-text {
		h3 {
			font-family: $headings-b;
		}
	}
}

.time-header {
	@include cf();
	background: $lt-grayish-yellow;
	margin-bottom: 10px;
	h3 {
		padding: 0;
		margin: 0;
		text-transform: none;
	}
	.time-header-time,
	.time-header-title {
		width: 49%;
		display: inline-block;
		padding: 20px;
	}

	.time-header-time {
		float: left;
	}
	.time-header-title {
		float: right;
	}
}

.single-session {
	@include cf();
	position: relative;
	width: 100%;
	.headshot {
		width: 30%;
		float: left;
		display: inline-block;
		padding: 0 10px;
	}

	.time {
		float: left;
		display: inline-block;
		width: 20%;
		padding: 40px 20px 20px 0;
		text-align: center;
	}

	.title {
		padding-right: 60px;
	}

	a {
		color: $black;
		text-decoration: none;
		line-height: 1.6;

		.speaker {
			padding: 20px 0 10px 0;
			line-height: 1.6;
			text-decoration: none;
		}
	}

	.fa {
		position: absolute;
		color: $persian-green;
		right: 20px;
		top: 20px;
	}

}

.day-one,
.day-two,
.day-three {
	border-bottom: 3px double darken($lt-grayish-yellow, 5%);

	.single-session {
		background: $lt-grayish-yellow;
		margin-bottom: 10px;

		&:last-of-type {
			margin-bottom: 2px;
		}
	}
}

.day-header {
	margin-top: 60px;
	margin-bottom: 0;
}