h1,
h1.entry-title {
	font-family: $headings-lt;
	font-size: 30px;
	margin-bottom: 20px;
	a {
		font-size: 30px;
		margin-bottom: 20px;
		text-decoration: none;
	}
}

h2 {
	a {
		font-size: 28px;
		margin-bottom: 20px;
		text-decoration: none;
	}
}

.post-edit-link {
	font-size: 10px;
	text-decoration: none;

}

article {
	margin-bottom: 90px;
	padding: 0 15px;
	min-height: 400px;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $headings-lt;
		margin-bottom: 20px;
		line-height: 1.2;
	}

	h2 {
		font-size: 28px;
	}
	h3 {
		font-size: 24px;
	}
	h4 {
		font-size: 20px;
	}
	h5 {
		font-size: 18px;
	}
	h6 {
		font-size: 16px;
		font-style: italic;
	}


	.featured-image {
		float: right;
		margin: 0 0 30px 30px;
	}

	p {
		font-family: $font-main;
		line-height: 1.8;
		margin-bottom: 20px;
	}

	li {
		margin-bottom: 10px;
	}

	footer {
		padding-bottom: 30px;
	}
}

.sticky-wrapper {
	margin-bottom: 30px;
}