@font-face {
    font-family: 'moonbold';
    src: url('assets/fonts/moon_bold-webfont.eot');
    src: url('assets/fonts/moon_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/moon_bold-webfont.woff2') format('woff2'),
    url('assets/fonts/moon_bold-webfont.woff') format('woff'),
    url('assets/fonts/moon_bold-webfont.ttf') format('truetype'),
    url('assets/fonts/moon_bold-webfont.svg#moonbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'moonlight';
    src: url('assets/fonts/assets/fonts/moon_light-webfont.eot');
    src: url('assets/fonts/moon_light-webfont.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/moon_light-webfont.woff2') format('woff2'),
    url('assets/fonts/moon_light-webfont.woff') format('woff'),
    url('assets/fonts/moon_light-webfont.ttf') format('truetype'),
    url('assets/fonts/moon_light-webfont.svg#moonlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratbold';
    src: url('assets/fonts/montserrat-bold-webfont.eot');
    src: url('assets/fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/montserrat-bold-webfont.woff2') format('woff2'),
    url('assets/fonts/montserrat-bold-webfont.woff') format('woff'),
    url('assets/fonts/montserrat-bold-webfont.ttf') format('truetype'),
    url('assets/fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratlight';
    src: url('assets/fonts/montserrat-light-webfont.eot');
    src: url('assets/fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/montserrat-light-webfont.woff2') format('woff2'),
    url('assets/fonts/montserrat-light-webfont.woff') format('woff'),
    url('assets/fonts/montserrat-light-webfont.ttf') format('truetype'),
    url('assets/fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('assets/fonts/montserrat-regular-webfont.eot');
    src: url('assets/fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('assets/fonts/montserrat-regular-webfont.woff') format('woff'),
    url('assets/fonts/montserrat-regular-webfont.ttf') format('truetype'),
    url('assets/fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
