.main-navigation {
    display: none;
    @include cf();
    font-family: $font-main-bold;
    position: relative;

    @include bp(large-tablet) {
        display: block;
    }

    ul {
        display: none;
        list-style: none;
        margin: 0;
        padding-left: 0;

        ul {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            float: left;
            position: absolute;
            top: 1.5em;
            left: -999em;
            z-index: 99999;

            ul {
                left: -999em;
                top: 0;
            }

            li {
                &:hover > ul,
                &.focus > ul {
                    left: 100%;
                }
            }

            a {
                width: 200px;
            }

            :hover > a,
            .focus > a {
            }

            a:hover,
            a.focus {
            }
        }

        li:hover > ul,
        li.focus > ul {
            left: auto;
        }
    }
    li {
        float: left;
        position: relative;
        padding: 5px 10px;

        &:hover > a,
        &.focus > a {
        }
    }
    li.register {
        background: $persian-green;
        margin-right: 10px;
        a {
            color: $white;
        }
    }
    li.twitter {
        &:before {
            content: '\f099'
        }
    }
    a {
        color: $white;
        display: inline-block;
        letter-spacing: .5px;
        text-decoration: none;
        text-transform: uppercase;
    }

    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a {
    }

    .registration-link {
        padding: 7px;
        background: $persian-green;
        position: absolute;
    }
}

#mobile-navigation {
    @include bp(large-tablet) {
        display: none;
    }
    .registration-link {
        @include bp(large-tablet) {
            display: none;
        }
    }
}

.dark {
    width: 60%;
    float: right;
    a {
        color: $black;
    }

}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: block;
    margin: 0;
    text-align: center;

    @include bp(large-tablet) {
        display:inline-block;
        float: right;
        margin-top: 20px;
    }
}

@include bp(large-tablet) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: block;
    }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

    .site-main & {
        margin: 0 0 1.5em;
        overflow: hidden;
    }

    & .nav-previous {
        float: left;
        width: 50%;
    }

    & .nav-next {
        float: right;
        text-align: right;
        width: 50%;
    }
}
